<h1> <%= @band.name %> </h1>
<pre> ALBUMS!  </pre>
<br>
<table>
  <tr>
    <th> </th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <a href="<%= album_url(album) %>"> <%= album.name %> </a>
  </tr>
  <br>
  <% end %>

</table>

<br><br><br><br>
<a href="<%= bands_url %>"> Index </a>
<br>

<form action="<%= band_albums_new_url(@band.id) %>" method="post">
      <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="new">
    <button>Add a new album to this band!</button>
  </form>


  <% if current_user.is_admin?%>
  <form action="<%= band_url(@band.id) %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden"
   name="authenticity_token"
   value="<%= form_authenticity_token %>">

    <button>Delete Band</button>
  </form>
  <% end %>
